
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');

.topheading{
    font-size: 4em;
   margin-left: 0.5em;
   background: rgb(255, 255, 0);
    text-align: center;
    padding: 0;
    border-radius: 3em;
} 
body{
    font-family:'Akshar';
}
.babykeem{
    height: 10em;
    width: 85em;
}
.extra{bottom: 0%;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(223, 226, 43);
   text-align: center;
   margin-right: 25%;
   text-overflow: unset;
}
body{background-blend-mode: darken; 
    background-color: rgb(111, 0, 255);
}